body {
	/*
		Background pattern by Evan Eckard
		http://www.dinpattern.com/2009/09/27/old-31/
	*/

	background: #000 url('pattern.gif') repeat right top;
	margin: 0;
	padding: 0;
}

.container {
	background: #fff;
	margin-top: 30px;
	width: 50em;
}

.header, .footer {
	background-color: #ddd;
	padding: 5px 0;
}

h1 {
	font-family: 'Parisienne', serif;
	font-size: 4em;
}