body {
	margin: 0;
	padding: 0;
	font-family: Georgia;
	font-size: 1.5em;
}

h1 {
	text-indent: -9999px;
	background: url(logo.png) no-repeat top;
	display: block;
	height: 120px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

a:hover, a:active, a:link, a:visited {
	color: rgb(28, 136, 41);
	border-bottom: 1px dotted rgb(28, 136, 41);
	text-decoration: none;
}

.container {
	background: #fff;
	margin-top: 30px;
}

.blurb {
}

.footer {
}

.footer div p {
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
}

@media (min-width: 700px) { .container { max-width: 700px; } }