body {
	/*
		Background pattern by Evan Eckard
		http://www.dinpattern.com/2009/09/27/old-31/
	*/

	background: #000 url('pattern.gif') repeat right top;
	margin: 0;
	padding: 0;
}

a:hover, a:active, a:link, a:visited {
	color: rgb(28, 136, 41);
	border-bottom: 1px dotted rgb(28, 136, 41);
	text-decoration: none;
}

.container {
	background: #fff;
	margin-top: 30px;
}

.blurb {
	padding: 20px 20px 10px 20px;
}

.header, .footer {
	background-color: #ddd;
	padding: 5px 10px;
}

.footer {
	padding-top: 15px;
}

h1 {
	font-family: 'Parisienne', serif;
	font-size: 4em;
	margin: 20px 0;
}

@media (min-width: 700px) { .container { max-width: 700px; } }